@page {
	margin-top: 3em;
	margin-left: 3em;
}

h1 {
    text-align: center;
}

h1#error {
    text-align: center;
    color: #FF5733;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 95%
}

th, td {
    padding: 15px;
}

th#name, td#name {
    width: 30%; 
}